.container-metodo-pago {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  padding: 2rem;
  max-width: 1500px;
}

.container-metodo-pago .imgs-contai {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  overflow: hidden;
  margin-top: 1.5rem;
}

.container-metodo-pago .imgs-contai .img-pago {
  height: 50px;
}

@media (min-width: 420px) and (max-width: 510px) {
  .container-metodo-pago {
    padding: 0;
    justify-content: flex-end;
    overflow-x: auto;
  }
  .container-metodo-pago .imgs-contai {
    align-items: flex-start;
    overflow-y: auto;
    justify-content: end;
    flex-direction: row;
  }
}
