.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  border-radius: 20px;
  transition: 0.5s;
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Oculta la cara trasera */
    border-radius: 20px;
    border: 1px solid rgb(220, 220, 220);
    overflow: hidden;
  }
}
.especializaciones-card.flipped .card-inner {
  transform: rotateY(200deg); /* Activa la rotación al añadir la clase */
}

.card-inner:hover {
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}

.card-front {
  background-color: var(--blanco);
  z-index: 2;
}

.card-back {
  background-color: rgb(255, 255, 255);
  transform: rotateY(180deg); /* Posiciona la cara trasera */
}

.card-detalles,
.card-tecnologias {
  border-radius: 20px;
  font-family: "Poppins", sans-serif; /* Fuente moderna */
  color: #333333; /* Texto oscuro para buena legibilidad */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-detalles .social-buttons .container-links .iconos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .share {
    text-transform: uppercase;
    color: var(--gris-claro);
    letter-spacing: 4px;
    font-size: 11px;
    font-weight: 700;
  }
  a {
    color: white;
    font-size: 1em;
    transition: all 0.4s;
  }
}

.card-detalles .social-buttons .container-links.activeList {
  opacity: 1;
  visibility: visible;
}

.especializaciones-card:hover .title-esp-name {
  text-decoration-line: underline;
}

.especializaciones-card .img-esp {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media (min-width: 768px) {
  main .container-background .container-card-esp .especializaciones-card {
    width: calc(50% - 20px); /* Dos columnas en pantallas medianas */
  }
}
