.container {
  position: relative;
  background-color: var(--blanco);
  max-width: 1000px;
  margin: 1rem auto;
  padding: 3rem;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.accordion-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
