* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background: var(--violeta);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blanco);
  border-radius: 10px;
}

.mensaje-carga {
  height: 100%;
  width: 100%;
  background: var(--violeta); /* Fondo oscuro */
  margin: auto;
  img {
    height: 300px;
    margin: 2rem 0 2rem 0;
    position: absolute;
    left: 40%;
  }
  p {
    font-size: 44px; /* Ajusta según tu diseño */
    font-family: "Poppins", sans-serif; /* Fuente del texto */
    color: #ffffff; /* Color del texto */
    text-transform: uppercase; /* Opcional */
    font-weight: bold;
    position: relative;
    top: 60%;
    left: 20%;
    background: var(--violeta);
    float: left;
    span {
      position: absolute;
      right: 0;
      width: 0;
      border-left: 2px solid black;
      background: var(--violeta);
      animation: escribir 5s steps(100, end), blink 0.5s infinite alternate;
    }
  }
}
@keyframes escribir {
  from {
    width: 100%;
  }
}

body {
  width: 100%;
  margin: 0 auto;
  height: 100dvh;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #ffffff;
  margin: 0 auto;
  z-index: 1;
  display: none;
}

header .container-nav {
  background-color: var(--violeta);
  padding: 10px 27px 10px 27px;
}
header .container-oferta {
  background-color: #222222;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  p {
    color: white;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    margin-right: 10px;
  }
  .contador {
    background-color: var(--azul-dark);
    width: 15%;
    border-radius: 10px;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }
}

main {
  width: 100%;
  margin: 0 auto;
  max-width: 1500px; /* Ajusta el max-width según el diseño */
  display: none;
}

main .container-background {
  background-color: #f1f1f1;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  border-radius: 30px;
  padding: 4rem;
  max-width: 1500px;
}

footer {
  background-color: #222222;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 1500px;
  display: none;
}

@media (min-width: 420px) and (max-width: 510px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }

  .mensaje-carga {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 200px;
      left: 30%;
    }
    p {
      font-size: 1.2rem;
      left: 15%;
      top: 40%;
    }
  }

  header .container-oferta {
    flex-direction: column;
    p {
      font-size: 0.9rem;
    }
    .contador {
      width: 40%;
      font-size: 0.9rem;
      margin-top: 1rem;
    }
  }

  main {
    overflow: hidden;
  }
  main .container-background {
    padding: 2rem;
  }
}
