.title-test {
  font-size: 2rem;
  font-weight: 500;

  .test {
    background-color: var(--violeta);
    border-radius: 10px;
    font-weight: bold;
    color: var(--blanco);
    padding: 5px;
  }
}

.parrafo-test {
  margin-top: 1rem;
  font-size: 1.2rem;

  .test-parr {
    background-color: var(--azul-dark);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 10px;
    padding: 3px;
  }
}

/*/--------------------- FONTS TARJETAS -----------------------/*/
.title-card {
  color: var(--blanco);
  font-weight: 600;
  margin-top: 0.5rem;
  font-size: 1.4rem;
  line-height: 1.4;
  word-spacing: 2px;
}

.subtitle-card {
  color: var(--blanco);
  opacity: 80%;
  font-size: 0.9em;
  margin-top: 1.2rem;
  line-height: 1.7;
  font-weight: 400;
}

.title-card.black-title {
  color: var(--Very-dark-grayish-blue);
  font-weight: 600;
  margin-top: 1rem;
}
.subtitle-card.black-subt {
  color: hsl(217, 19%, 35%);
  opacity: 80%;
  line-height: 1.4;
}

@media (min-width: 400px) and (max-width: 600px) {
  .title-test {
    font-size: 1.6rem;
  }
  .parrafo-test {
    font-size: 1rem;
    line-height: 30px;
  }
}
